/* App Banner */
.soria #app-banner .right-box .right-cell .dijitDownArrowButton {
  padding-top: 1px;
}

#app-banner-dc {
  overflow: visible;
}

#app-banner .right-box .right-cell {
  width: 320px;
}
#app-banner .right-box .right-cell a:hover {
  background-position: 0 30px;
}
#app-banner .right-box .right-cell .dijitDropDownButton:hover .dijitButtonNode {
  background-position: 0 -12px !important;
}
#app-banner .left-box {
  position: relative;
  display: inline-block;
}
#app-banner .center-box {
  width: 200px;
  float: left;
  display: inline-block;
  height: 24px;
  position: relative;
  background-color: #FFF;
  color: #000;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
}
#app-banner .mns-expiryBlock {
  color: #FFFFFF;
  margin-left: 10px;
  margin-top: 7px;
  display: block;
  float: left;
}

/* iframe corrections */
.soria .expand-list-dropdown {
  margin: 0px;
  padding: 3px 1px 1px 3px;
}

.scripts-link {
  cursor: pointer;
}

#script-launcher:hover > ul {
  z-index: 1000;
  display: block;
}
#script-launcher ul {
  list-style: none;
  position: absolute;
  float: left !important;
  z-index: -1000;
  background: #D7E5F5 !important;
  top: 26px;
  border-left: 4px solid #1089B8;
  border-top: 4px solid #1089B8;
  display: none;
  width: 150px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.4);
}
#script-launcher ul li {
  position: relative;
  float: none !important;
  margin: 0;
  padding: 0;
  width: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#script-launcher ul li:hover {
  background: #C4D8F1;
}
#script-launcher ul li:hover > ul {
  display: block;
}
#script-launcher ul li a {
  display: block;
  color: black !important;
  line-height: 26px;
  padding: 0 12px !important;
  background: none;
}
#script-launcher ul li a:hover {
  background: none !important;
}
#script-launcher ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 150px;
  background: white;
  padding: 0;
  width: 150px;
  top: 0;
  border-top: 0;
}
#script-launcher ul ul li {
  float: none;
  width: inherit;
}
#script-launcher ul ul ul {
  top: 0;
  left: 100%;
}

.modal-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: Calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.custom-modal {
  width: 500px;
  min-height: 100px;
  background-color: white;
  position: absolute !important;
  z-index: 1000;
  top: 30vh;
  left: 20vw;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: none !important;
}
.custom-modal .actions-panel {
  position: relative !important;
}

.modal-titlebar {
  height: 21px;
  width: 100%;
}

#mns-modal-actions {
  position: relative;
}

.mns-modal-template {
  padding: 0 15px;
  border-top: 1px solid #7FBAD5;
}

.mns-input-group {
  display: block;
  margin: 5px 0;
  width: 100%;
  clear: both;
}
.mns-input-group:first-child {
  margin-top: 15px;
}
.mns-input-group:last-child {
  margin-bottom: 15px;
}
.mns-input-group:only-child {
  margin: 15px 0;
}
.mns-input-group span.mns-input-label {
  width: 33%;
  display: block;
  float: left;
  padding-top: 3px;
}
.mns-input-group select {
  height: 21px;
}
.mns-input-group input, .mns-input-group select {
  width: 66%;
}
.mns-input-group .mns-input-infotext {
  width: 100% !important;
  padding-top: 0px !important;
  float: none !important;
}
.mns-input-group .align-center {
  text-align: center !important;
}
.mns-input-group.col-2 {
  width: 50%;
  float: left;
}
.mns-input-group.col-2 span.mns-input-label {
  width: 46%;
  display: block;
  float: left;
  padding-top: 3px;
}
.mns-input-group.col-2 input, .mns-input-group.col-2 select {
  width: 50%;
}

.mns-input-descriptor {
  display: none;
}

.mns-modal-template .hidden {
  display: none;
}
.mns-modal-template .input-error .mns-input-label {
  color: #FF2222;
}
.mns-modal-template .input-error .mns-input-label::before {
  content: "* ";
}
.mns-modal-template .input-error input {
  border: 2px solid #FF2222;
}
.mns-modal-template .mns-input-cluster {
  display: none;
}
.mns-modal-template .mns-input-cluster.input-cluster-active {
  display: block;
}
.mns-modal-template .mns-input-cluster.input-cluster-active .mns-input-group:first-child {
  margin-top: 5px;
}

.custom-modal.merlin {
  height: 50vh;
  width: 60vw;
  background-color: white;
  position: absolute !important;
  z-index: 1000;
  top: 25vh;
  left: 20vw;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.custom-modal.merlin .dijitDialogTitleBar {
  height: 21px;
  width: 100%;
}
.custom-modal.merlin .modal-left {
  height: calc(100% - 56px);
  width: 30%;
  float: left;
  background-color: #f1f1f1;
  position: relative;
  overflow: auto;
}
.custom-modal.merlin .modal-left .task-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 250px;
}
.custom-modal.merlin .modal-left .task-list .task-card {
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  margin: 0.5rem;
  padding: 0.5rem;
}
.custom-modal.merlin .modal-left .task-list .task-card .card-title {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.2rem;
  margin-bottom: 0.3rem;
}
.custom-modal.merlin .modal-left .task-list .task-card .card-body {
  padding: 0.2rem;
}
.custom-modal.merlin .modal-left .task-list .task-card .card-body ul li {
  list-style-type: disc;
  list-style-position: inside;
}
.custom-modal.merlin .modal-right {
  height: calc(100% - 56px);
  width: 70%;
  float: right;
  background-color: #f1f1f1;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: auto;
}
.custom-modal.merlin .modal-right .task-attach {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 250px;
}

@media screen and (max-width: 1150px) {
  div.center-box {
    display: none !important;
  }
}
div.center-box > span {
  position: relative;
  top: 5px;
  left: 6px;
}

.ui-corner-all {
  border-radius: 0 !important;
}

ul.ui-autocomplete {
  z-index: 1000;
  padding: 0;
}
ul.ui-autocomplete li.ui-menu-item a {
  padding: 1px !important;
  font: 13px Tahoma, sans-serif !important;
}
ul.ui-autocomplete li.ui-menu-item:hover {
  border-radius: 0;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*# sourceMappingURL=appStyles.css.map */
