body {
	width: 150px;
}

.navbar-brand {
    height: 28px;
    padding: 5px 15px;
    font-size: 15px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar {
    min-height: 28px;
    margin-bottom: 10px;
}
.list-group {
    margin-bottom: 10px;
}