/* App Banner */
.soria #app-banner .right-box .right-cell .dijitDownArrowButton
	padding-top: 1px

#app-banner-dc,
#app-root-container-dc
	overflow: visible !important
	
#app-banner 
	.right-box .right-cell 
		width: 320px
		
		a:hover
			background-position: 0 30px
		
		.dijitDropDownButton:hover .dijitButtonNode
			background-position: 0 -12px !important
		
	.left-box
		position: relative
		display: inline-block
		
	.center-box 
		position: relative
		width: 213px
		height: 30px
		border: 1px solid #325c80
		background-color: #264a60
		margin: 4px 10px
		float: left
		display: inline-block
		color: white
		
	.mns-expiryBlock
		color: #FFFFFF
		margin-left: 10px
		margin-top: 7px
		display: block
		float: left
	
/* iframe corrections */
.soria .expand-list-dropdown
	margin: 0px
	padding: 3px 1px 1px 3px