$contentHeight: calc(100% - 21px)

.custom-modal.merlin
	height: 50vh
	width: 60vw
	background-color: white
	position: absolute !important
	z-index: 1000
	top: 25vh
	left: 20vw
	box-shadow: 0 1px 2px rgba(0,0,0,.15)
	
	.dijitDialogTitleBar
		height: 21px
		width: 100%
			
	.modal-left
		height: $contentHeight
		width: 30%
		float: left

	.modal-right
		height: $contentHeight
		width: 70%
		float: right
		background-color: #f1f1f1
		border-left: 1px solid rgba(0,0,0,.2)
		box-sizing: border-box