@import _modals-legacy
@import _modals-merlin-legacy
	
.custom-modal
	.template
		padding: 0 15px
		border-top: 1px solid #7FBAD5
		max-height: 450px
		overflow-y: scroll
		
	.input-group
		margin: 10px 0
		
		label
			
			&.indent
				margin-left: 15px
		
		select
			height: 21px
			
		select, input
			float: right
			margin-left: 10px
