<div data-id class="dijitDialog merlin-wrapper ui-draggable ui-resizable">
	<div style="height: 21px; width: 100%;" class="dijitDialogTitleBar">
		<span data-merlin-id="" style="" class="dijitDialogTitle">
			Client Contact
		</span>
		<span data-merlin-id="titleBarCloseButton" style="" class="dijitDialogCloseIcon"></span>
	</div>
	<div data-merlin-id="" style="" class="merlin-leftContent">
		<div data-merlin-id="merlinTaskBinder" style="" class="merlin-taskBinderContainer"></div>
	</div>
	<div data-merlin-id="" style="" class="merlin-bodyContent">
		<div data-merlin-id="merlinTaskBoard" style="" class="merlin-bodyContentContainer"></div>
	</div>
</div>