<div data-id class="dijitDialog ui-draggable ui-resizable custom-modal merlin">
	<div class="dijitDialogTitleBar">
		<span class="dijitDialogTitle"></span>
		<span data-role="titlebar-close-button" class="dijitDialogCloseIcon"></span>
	</div>
	<div class="modal-left">
		<div data-role="task-list" class="task-list"></div>
	</div>
	<div class="modal-right">
		<div data-role="task-attach" class="task-list"></div>
	</div>
	<div class="actions-panel">
		<div class="action-set center"></div>
	</div>
</div>