<div class="mns-modal-template">

	<span class="mns-input-group">
		<span class="mns-input-descriptor">SUBJECT</span>
		<span class="mns-input-label">Added: </span> 
		<select type="select" >
			<option value="Added: New Household Member">New Household Member</option>
			<option value="Added: Coverage to Existing HH Member">Coverage to Existing HH Member</option>
			<option value="Added: Newborn">Newborn</option>
		</select>
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Received</span>
		<span class="mns-input-label">Received: </span>
		<input value="DHS-3907" type="text" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Received Date</span>
		<span class="mns-input-label">Received Date: </span>
		<input type="date" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">**************************</span>
	</span>
	
	<span class="mns-input-group required">
		<span class="mns-input-descriptor">Client Added</span>
		<span class="mns-input-label">Client Added: </span>
		<input type="text" data-autoComplete="participants|name" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">-Household Eligibility before change</span>
		<span class="mns-input-label">Eligibility before change: </span>
		<input type="text" />
	</span>
	
	<span class="mns-input-group required">
		<span class="mns-input-descriptor">-Household Eligibility after change</span>
		<span class="mns-input-label">Eligibility after change: </span>
		<input type="text" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">**************************</span>
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Type of notice sent</span>
		<span class="mns-input-label">Type of notice sent: </span>
		<input type="text" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Notice sent on</span>
		<span class="mns-input-label">Notice sent on: </span>
		<input type="date" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">**************************</span>
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Follow up actions</span>
		<span class="mns-input-label">Follow up actions: </span>
		<input type="text" />
	</span>

</div>