<div class="mns-modal-template">
	<!-- 
		
		the options listed are straight from the DHS-6231 
		https://edocs.dhs.state.mn.us/lfserver/Public/DHS-6231-ENG
		
	-->
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Person</span>
		<span class="mns-input-label">Person: </span>
		<input type="text" data-autoComplete="participants|name" />
	</span>
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Citizenship Evidence</span>
		<span class="mns-input-label">Citizenship Evidence: </span>
		<select type="select">
			<option value="Birth Certificate">Birth Certificate</option>
			<option value="US Citizen ID Card">US Citizen ID Card</option>
			<option value="American Indian (I-872) Card from Dept Homeland Security">Amer-Indian Card (I-872)</option>
			<option value="US Adoption Papers">US Adoption Papers</option>
			<option value="Official Military Record showing place of birth">US Military Record</option>
			<option value="Hospital record showing birth in United States">Hospital Record</option>
			<option value="Insurance record showing birth in United States">Insurance Record</option>
			<option value="Medical record showing birth in United States">Medical Record</option>
			<option value="Statement from doctor or midwife">Medical Statement</option>
			<option value="Naturalization Papers">Naturalization Papers</option>
			<option value="US Passport">US Passport</option>
		</select>
	</span>
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Identity Evidence</span>
		<span class="mns-input-label">Identity Evidence: </span>
		<select type="select">
			<option value="Electronic Verification">Electronic Verif</option>
			<option value="Driver's License">Driver's License</option>
			<option value="State ID">State ID</option>
			<option value="School ID">School ID</option>
			<option value="Parent Signature">Parent Signature</option>
			<option value="US Passport">US Passport</option>
		</select>	
	</span>

</div>
