<div class="mns-modal-template">

	<span class="mns-input-group">
		<span class="mns-input-descriptor">SUBJECT</span>
		<span class="mns-input-label">Client Contact Source: </span> 
		<select type="select" >
			<option value="Client Contact: Phone">Phone Call</option>
			<option value="Client Contact: Email">Email</option>
			<option value="Client Contact: In Office">In Office</option>
			<option value="Client Contact: Auth Rep">Auth Rep</option>
			<option value="Client Contact: Social Worker">Social Worker</option>
			<option value="Client Contact: NAB/CAC">NAB/CAC</option>
		</select>
	</span>

	<span class="mns-input-group required">
		<span class="mns-input-descriptor">Contact Date/Time</span>
		<span class="mns-input-label">Contact Date/Time: </span>
		<input type="date" data-prefill="date|today"/>
	</span>

	<span class="mns-input-group required">
		<span class="mns-input-descriptor">Who</span>
		<span class="mns-input-label">Who: </span> 
		<input type="text" data-autoComplete="participants|name" />
	</span>
	
	<span class="mns-input-group required">
		<span class="mns-input-descriptor">Contact Reason</span>
		<span class="mns-input-label">Contact Reason: </span> 
		<input type="text" />
	</span>	
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Actions Taken</span>
		<span class="mns-input-label">Actions Taken: </span> 
		<input type="text" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Evidence Needed</span>
		<span class="mns-input-label">Evidence Needed: </span> 
		<input type="text" />
	</span>

</div>