<div class="mns-modal-template">

	<span class="mns-input-group">
		<span class="mns-input-descriptor">SUBJECT</span>
		<span class="mns-input-label">Client Contact Source: </span> 
		<select type="select">
			<option value="Client Contact: Phone">Phone Call</option>
			<option value="Client Contact: Email">Email</option>
			<option value="Client Contact: Drop-In">Drop-In</option>
			<option value="Client Contact: Auth Rep">Auth Rep</option>
			<option value="Client Contact: Social Worker">Social Worker</option>
		</select>
	</span>

	<span class="mns-input-group col-2 required">
		<span class="mns-input-descriptor">Contact Date/Time</span>
		<span class="mns-input-label">Contact Date/Time: </span> 		
		<input type="date" />
	</span>

	<span class="mns-input-group col-2 required">
		<span class="mns-input-descriptor">Worker Contact Date/Time</span>
		<span class="mns-input-label">Worker Contact Date/Time: </span> 		
		<input type="date" />
	</span>

	<span class="mns-input-group col-2 required">
		<span class="mns-input-descriptor">Reason for Contact</span>
		<span class="mns-input-label">Reason for Contact: </span> 
		<input type="text" />
	</span>
	
	<span class="mns-input-group col-2 required">
		<span class="mns-input-descriptor">Actions Taken</span>
		<span class="mns-input-label">Actions Taken: </span> 
		<input type="text" />
	</span>	
	
	<span class="mns-input-group col-2 required">
		<span class="mns-input-descriptor">Evidence Needed</span>
		<span class="mns-input-label">Evidence Needed: </span> 
		<input type="text" />
	</span>

	<span class="mns-input-group col-2 required">
		<span class="mns-input-descriptor">Case Status</span>
		<span class="mns-input-label">Case Status: </span> 
		<input type="text" />
	</span>	

</div>