<template>
	
	<subject>
		<label>Subject: </label>
		<select>
			<option value="Cluster 1" data-target="cluster1">Show Cluster 1</option>
			<option value="Cluster 2" data-target="cluster2">Show Cluster 2</option>
		</select>
	</subject>
	
	<cluster data-id="cluster1">
		
		<input-group>
			<label>Cluster 1 Input: </label>
			<description>Cluster 1 Input</description>
			<input type="text" />
		</input-group>
		
	</cluster>
	
	<cluster data-id="cluster2">
		
		<input-group>
			<label>Cluster 2 Input: </label>
			<description>Cluster 2 Input</description>
			<input type="text" />
		</input-group>
		
	</cluster>
	
</template>