<div class="mns-modal-template" data-input-clusters="true">
  
  <span class="mns-input-group">
    <span class="mns-input-descriptor">SUBJECT</span>
    <span class="mns-input-label">Subject: </span>
    <select type="select">
      <option value="Cluster 1">Show Cluster 1</option>
      <option value="Cluster 2">Show Cluster 2</option>
    </select>
  </span>
  
  <span class="mns-input-cluster" data-cluster-title="Cluster 1">
    <span class="mns-input-group">
      <span class="mns-input-descriptor">Cluster 1 (In the case note)</span>
      <span class="mns-input-label">Cluster 1 - On the modal</span>
      <input type="text" />
    </span>
  </span>
  
  <span class="mns-input-cluster" data-cluster-title="Cluster 2">
    <span class="mns-input-group">
      <span class="mns-input-descriptor">Cluster 2 (In the case note)</span>
      <span class="mns-input-label">Cluster 2 - On the modal</span>
      <input type="text" />
    </span>
    
    <span class="mns-input-group">
      <span class="mns-input-descriptor">---------------------------------</span>
      <span class="mns-input-label mns-input-infotext align-center">----- REIMBURSEMENT ONLY ------</span> 
    </span>
    
  </span>
  
</div>