<div class="note template">
	
	<div data-config="role: subject">
		<label>Subject: </label>
		<select>
			<option value="Cluster 1" data-target="cluster1">Show Cluster 1</option>
			<option value="Cluster 2" data-target="cluster2">Show Cluster 2</option>
		</select>
	</div>
	
	<div data-config="id: cluster1; role: cluster; required: true;">
		
		<div class="input-group">
			<label data-description="Cluster 1 Input">Cluster 1 Input: </label>
			<input type="text" />
		</div>
		
	</div>
	
	<div data-config="id: cluster2; role: cluster;">
		
		<div class="input-group">
			<label data-description="Cluster 2 Input">Cluster 2 Input: </label>
			<input type="text" />
		</div>
		
	</cluster>
	
</div>