<!-- MNSure Script Engine | (c) Lucas Shanley | https://raw.githubusercontent.com/lpshanley/MNSure-Script-Engine/master/LICENSE */ -->

<div class="mns-modal-template">

	<span class="mns-input-group">
		<span class="mns-input-descriptor">SUBJECT</span>
		<span class="mns-input-label">Returned Mail Type: </span> 
		<select type="select">
			<option value="Returned Mail: Out of State">Out of State</option>
			<option value="Returned Mail: Unable to Forward">Unable to Forward</option>
			<option value="Returned Mail: Temporarily Away">Temporarily Away</option>
			<option value="Returned Mail: Case in Renewal">Case in Renewal</option>
			<option value="Returned Mail: Address Workaround">Address Workaround</option>
		</select>
	</span>

	<span class="mns-input-group required">
		<span class="mns-input-descriptor">Received Date</span>
		<span class="mns-input-label">Received Date: </span> 		
		<input type="date" />
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-descriptor">Actions Taken</span>
		<span class="mns-input-label">Actions Taken: </span> 
		<input type="text" />
	</span>	

</div>