<div class="mns-modal-template">

	<span class="mns-input-group">
		<span class="mns-input-descriptor">SUBJECT</span>
		<span class="mns-input-label">Returned Mail Type: </span> 
		<select type="select">
			<option value="Returned Mail: Out of State">Out of State</option>
			<option value="Returned Mail: Unable to Forward">Unable to Forward</option>
			<option value="Returned Mail: Temporarily Away">Temporarily Away</option>
			<option value="Returned Mail: Case in Renewal">Case in Renewal</option>
			<option value="Returned Mail: Address Workaround">Address Workaround</option>
		</select>
	</span>

	<span class="mns-input-group">
		<span class="mns-input-descriptor">Case note line</span>
		<span class="mns-input-label">Label 1:</span> 
		<input type="text" />
	</span>

	<span class="mns-input-group col-2">
		<span class="mns-input-descriptor">Case note line2</span>
		<span class="mns-input-label">Label 2:</span>
		<input type="text" />
	</span>

</div>