<div class="mns-modal-template mns-error-modal">

	<span class="mns-input-group">
		<span class="mns-input-label mns-input-infotext">
			Case note scripts must be run on the Integrated Case that you wish to case note on. Please select the correct Integrated Case and run the script again.
		</span>
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-label mns-input-infotext">
			If you believe you are receiving this message in error please report your issue so that it can be corrected. 
		</span>
	</span>
	
	<span class="mns-input-group">
		<span class="mns-input-label mns-input-infotext">
			Note: You do not need to be on the contact tab within the Integrated Case, upon completion you will be navigated there automatically.
		</span>
	</span>

</div>